
~$Bike-Maintenance.pptx
~$Bikes_Template.pptx
bike_data.rds
*.pptx
.Rhistory
*.RDS
*.csv
bike-sharing-4196725_1920.jpg
bike_stations.json
weather/.DS_Store
.DS_Store
.RDataTmp
.RData
*.png
cycling-659778_1920.jpg
model_2.Rmd
model.Rmd
data.RDataTmp
data.RData
201807-capitalbikeshare-tripdata.zip
